html    {
    font-family: sans-serif;
}
.top {
    z-index: 30;
    height: 40px;
    font-size: 12px;
    background: #333;
    color: #b0b0b0;
}
.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px
}
.top a {
    color: #b0b0b0;
}
a {
    text-decoration: none;
}
.top div span {
    color: #424242;
}
.top .topbar-cart {
    float: right;
    width: 120px;
    transition: all .2s;
}
.top .cart-mini  {
    height: 40px;
    text-align: center;
    display:block;
}
.iconfont-cart::before {
    content:"\E60C"
}